@model IEnumerable<InduccionSemana4.Models.Vendedor>

@{
    ViewData["Title"] = "Home Page";
}

	<header class="header full-box">
	    <div class="header-brand text-center full-box">
	        <a href="index.html">
	           <!--<img src="./assets/img/logo.png" alt="logo" class="img-fluid">--> 
	        </a>
	    </div>

	</header>

	<!-- Content -->
	<div class="banner">
	    <div class="banner-body">
	        <h3 class="text-uppercase">Bienvenido a RESTAURANTE</h3>
	        <p>Los mejores platillos y la mejor calidad los encuentras en RESTAURANTE</p>
	        <a href="#modal" class="btn btn-warning" ><i class="fas fa-hamburger fa-fw"></i> &nbsp; Comenzar !</a>
	    </div>
	</div>


	<div class="container container-web-page" id="modal">
	    <div class="row justify-content-md-center">
	        <div class="col-12 col-md-6">
	            <figure class="full-box">
	                <img src="~/RESTAURANT-main/assets/img/registration.png" alt="registration" class="img-fluid" style="max-width:100%">
	            </figure>
	        </div>
	        <div class="w-100"></div>
	        <div class="col-12 col-md-6">
	            <p class="text-justify">
	                Realiza pedidos de diferentes platillos, es muy fácil y rápido.
	            </p>

	        </div>
	    </div>
	</div>