@model InduccionSemana4.Models.Cliente

@{
    ViewData["Title"] = "SesionCliente";
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Index</title>
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
</head>
<body>


    <div class="text-center">
        <div class="alert alert-success">
            <h2 class="display-4">Inicie Sesion Por favor</h2>
        </div>
    </div>

    <div class="row mt-5">
        <div class="col-sm-4 offset-sm-4">

            <form asp-controller="Cliente" asp-action="SesionCliente" method="post">

                <div class="mb-3">
                    <label for="exampleInputEmail1" class="form-label">Correo</label>
                    <input type="text" class="form-control" asp-for="Correo">
                </div>

                <div class="mb-3">
                    <label for="exampleInputPassword1" class="form-label">Contraseña</label>
                    <input type="password" class="form-control" asp-for="Pwd">
                </div>

                <button type="submit" class="btn btn-primary">Ingresar</button>
            </form>

        </div>

    </div>

    <script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>

</body>
</html>
